<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Suit Game</title>
  </head>
  <body>
    <section>
      <div class="game-parent-container">
        <div style="padding: 40px; display: flex; gap: 20px">
          <a href="./index">
            <ion-icon size="large" name="chevron-back-outline"></ion-icon>
          </a>
          <img style="width: 40px; height: 35px;" src="/assets/logo -suit.png"/>
          <h2 style="font-size: 30px; color: gold">rock paper scissors</h2>
        </div>
         <div class="select-container">
        <input id="txtRoomCode" type="text" name="roomCode"/>
        <button id="submitRoomCode" class="h2">Join Room</button>
      </div> 
        <div class="game-container">
          
          <div class="playerone-container">
            

            <h2 class="playerOne">player 1</h2>
            <div class="playerOne-batu player " >
              <img class="suit-img" src="/assets/batu.png" alt="gambar batu">
            </div>
            <div  class="playerOne-gunting player  ">
              <img class="suit-img" src="/assets/kertas.png" alt="gambar kertas">
            </div>
            <div class="playerOne-gunting player ">
              <img class="suit-img" src="/assets/gunting.png" alt="gambar gunting">
            </div>
          </div>
          <div class="info">
            <div>
            <h2 style= 'font-size: 30px;'class="status"></h2>
            <p class="vs">VS</p>
            </div>
             <img class="restart-btn " src="/assets/refresh.png" alt="refresh button">
          </div>
          <div class="playertwo-container ">
            <h2 class="playerTwo'">Player 2</h2>
            <div class="playerTwo-batu cpu ">
              <img class="suit-img" src="/assets/batu.png" alt="gambar batu">
            </div>
            <div  class="playerTwo-kertas cpu ">
              <img class="suit-img" src="/assets/kertas.png" alt="gambar kertas">
            </div >
            <div class="playerTwo-gunting cpu ">
              <img class="suit-img" src="/assets/gunting.png" alt="gambar gunting">
            </div>
          </div>
         
          </div>
        </div>
      </div>
    </section>
  </body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script  src="/script.js" type="text/javascript"></script>
  <script
    type="module"
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
  ></script>
</html>
